[darwin.packages.homebrew]
enable = true
type = "script"
checker = { type = "command", command = "brew" }
installer = """
NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
"""
post_install = """
if [[ -d /opt/homebrew ]]; then
  eval $(/opt/homebrew/bin/brew shellenv)
else
  eval $(/usr/local/bin/brew shellenv)
fi
"""

[darwin.packages.gcc]
enable = true
type = "homebrew"
checker = { type = "command", command = "gcc" }
installer = { type = "formula" }

[darwin.packages.nushell]
enable = true
type = "homebrew"
checker = { type = "command", command = "nu" }
installer = { type = "formula" }

[darwin.packages.git]
enable = true
type = "homebrew"
checker = { type = "command", command = "git" }
installer = { type = "formula" }

[darwin.packages.curl]
enable = true
type = "homebrew"
checker = { type = "command", command = "curl" }
installer = { type = "formula" }

[darwin.packages.mise]
enable = true
type = "homebrew"
checker = { type = "command", command = "mise" }
installer = { type = "formula" }

[darwin.packages.atuin]
enable = true
type = "homebrew"
checker = { type = "command", command = "atuin" }
installer = { type = "formula" }

[darwin.packages.file]
enable = true
type = "homebrew"
checker = { type = "command", command = "file" }
installer = { type = "formula" }

[darwin.packages.kcat]
enable = true
type = "homebrew"
checker = { type = "command", command = "kcat" }
installer = { type = "formula" }


[darwin.packages.font-fira-code-nerd-font]
enable = true
type = "homebrew"
checker = { type = "cask", cask = "font-fira-code-nerd-font" }
installer = { type = "cask" }

[darwin.packages.font-jetbrains-mono-nerd-font]
enable = true
type = "homebrew"
checker = { type = "cask", cask = "font-jetbrains-mono-nerd-font" }
installer = { type = "cask" }

[darwin.packages.wezterm]
enable = true
type = "homebrew"
checker = { type = "cask", cask = "wezterm" }
installer = { type = "cask" }

[darwin.packages.raycast]
enable = true
type = "homebrew"
checker = { type = "cask", cask = "raycast" }
installer = { type = "cask" }


