{{ if eq .chezmoi.os "windows" -}}
scoop install sudo 
scoop install 7zip
scoop install dark
scoop install git
scoop install curl
scoop install chezmoi
scoop install make
scoop install neovim
scoop install ripgrep

scoop bucket add tlipoca9-scoop-bucket https://github.com/tlipoca9/scoop-bucket
scoop install tlipoca9-scoop-bucket/zsh
{{ end -}}