#!/usr/bin/env bash
set -euo pipefail

DEFAULT="\033[0;m"
RED="\033[31;m"
BLUE="\033[34;m"
YELLOW="\033[33;m"

INFO(){
    echo -e "$BLUE[INFO] $@ $DEFAULT"
}
WARN(){
    echo -e "$YELLOW[WARN] $@ $DEFAULT"
}
ERROR(){
    echo -e "$RED[ERROR] $@ $DEFAULT"
}

{{ if eq .chezmoi.os "linux" -}}
{{ else if eq .chezmoi.os "darwin" -}}
command -v brew >/dev/null 2>&1 \
&& INFO "'homebrew' is already installed." \
|| (NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)")

manually_install() {
  cmd=$1; repo=$1; msg=$1
  if [[ $1 =~ ^(.+)=(.+)=(.+)$ ]]; then
    cmd=${BASH_REMATCH[1]}
    repo=${BASH_REMATCH[2]}
    msg=${BASH_REMATCH[3]}
  fi
  if command -v $cmd >/dev/null 2>&1; then
    INFO "'$repo' is already installed."
  else
    WARN "'$repo' is not installed. $msg"
    exit 1
  fi
}

ensure_brew_install() {
  cmd=$1; repo=$1
  if [[ $1 =~ ^(.+)=(.+)$ ]]; then
    cmd=${BASH_REMATCH[1]}
    repo=${BASH_REMATCH[2]}
  fi
  if command -v $cmd >/dev/null 2>&1; then
    INFO "'$repo' is already installed."
  else
    INFO "Installing '$repo'..."
    brew install $repo
  fi
}

# manually_install xcode=xcode="Xcode can be installed from the App Store: 'https://apps.apple.com/us/app/xcode/id497799835'"
ensure_brew_install gcc
ensure_brew_install zsh
ensure_brew_install git
ensure_brew_install curl
ensure_brew_install chezmoi
ensure_brew_install nvim=neovim
ensure_brew_install bat
ensure_brew_install jq
ensure_brew_install yq
ensure_brew_install eza
ensure_brew_install rg=ripgrep
ensure_brew_install fd
ensure_brew_install fzf
ensure_brew_install gitui
ensure_brew_install file
# ensure_brew_install kafka

# Ensure 'FiraCode Nerd Font Mono' is installed
font_family_names=$(osascript << SCPT
  use framework "AppKit"
  set fontFamilyNames to (current application's NSFontManager's sharedFontManager's availableFontFamilies) as list
  return fontFamilyNames
SCPT
)
(echo $font_family_names | sed 's/, /\n/g' | grep -E '^FiraCode Nerd Font Mono$' > /dev/null 2>&1) \
&& (INFO "'FiraCode Nerd Font Mono' is already installed.") \
|| (brew install --cask font-fira-code-nerd-font)

{{ end -}}