{{ if eq .chezmoi.os "windows" -}}

function HINT {
  
  param (
    $message
  )

  Write-Host "====== $message ======" -ForegroundColor Green
}

function INFO {

  param (
    $message
  )

  Write-Host "[INFO] $message" -ForegroundColor Blue
}

function WARN {
  
  param (
    $message
  )

  Write-Host "[WARN] $message" -ForegroundColor Yellow
}

function ERROR {
  
  param (
    $message
  )

  Write-Host "[ERRO] $message" -ForegroundColor Red
}

{{ if .packages.windows.scoop.buckets -}}
HINT "[scoop] adding buckets"
$bucketNames = scoop bucket list | ForEach-Object { $_.Name }
{{ range .packages.windows.scoop.buckets -}}
if ('{{ .name }}' -in $bucketNames) {
  INFO "Bucket '{{ .name }}' is already added."
} else {
  INFO "Adding scoop bucket '{{ .name }}'..."
{{- if eq .name .url }}
  scoop bucket add {{ .name }}
{{- else }}
  scoop bucket add {{ .name }} {{ .url }}
{{- end }}
}
{{ end -}}
{{ end -}}

{{ if .packages.windows.scoop.commands -}}
HINT "[scoop] installing commands"
{{ range .packages.windows.scoop.commands -}}
if (Get-Command {{ .cmd }} -ErrorAction SilentlyContinue) {
  INFO "'{{ .name }}' is already installed."
} else {
  INFO "Installing '{{ .name }}'..."
  scoop install {{ .name }}
}
{{ end -}}
{{ end -}}

{{ if .packages.windows.scoop.fonts -}}
HINT "[scoop] installing fonts"
Add-Type -AssemblyName System.Drawing
$installedFonts = (New-Object 'System.Drawing.Text.InstalledFontCollection').Families | ForEach-Object { $_.Name }
{{ range .packages.windows.scoop.fonts -}}
if ('{{ .font }}' -in $installedFonts) {
  INFO "'{{ .font }}' is already installed."
} else {
  INFO "Installing '{{ .font }}'..."
  scoop install {{ .name }}
}
{{ end -}}
{{ end -}}

{{ end -}}