{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -euo pipefail
{{ template "shell_logger" . -}}

{{ if .packages.darwin.homebrew.enabled -}}
{{ with .packages.darwin.homebrew -}}
HINT "homebrew"
command -v {{ .cmd }} >/dev/null 2>&1 \
  && INFO "'homebrew' is already installed." \
  || (INFO "Installing 'homebrew'..." && {{ .install_script }})
{{ end -}}
{{ template "brew/shellenv" . -}}
{{ end -}}

# brews
## commands
{{ if .packages.darwin.brews.commands -}}
HINT "[homebrew] commands"
{{ range .packages.darwin.brews.commands -}}
command -v {{ .cmd }} >/dev/null 2>&1 \
  && INFO "'{{ .name }}' is already installed." \
  || (INFO "Installing '{{ .name }}'..." && brew install -v {{ .name }})
{{ end -}}
{{ end -}}

## fonts
{{ if .packages.darwin.brews.fonts -}}
HINT "[homebrew] fonts"
font_family_names=$(osascript << SCPT
  use framework "AppKit"
  set fontFamilyNames to (current application's NSFontManager's sharedFontManager's availableFontFamilies) as list
  return fontFamilyNames
SCPT
)
{{ range .packages.darwin.brews.fonts -}}
(echo $font_family_names | sed 's/, /\n/g' | grep -E '^{{ .font }}$' > /dev/null 2>&1) \
  && (INFO "'{{ .font }}' is already installed.") \
  || (brew install --cask {{ .name }})
{{ end -}}
{{ end -}}

## casks
{{ if .packages.darwin.brews.casks -}}
HINT "[homebrew] casks"
brew_cask_names=$(brew list --cask)
{{ range .packages.darwin.brews.casks -}}
echo $brew_cask_names | sed 's/ /\n/g' | grep -E '^{{ range $i, $v := .aliases }}{{ if $i }}|{{end}}{{ $v }}{{ end }}$' > /dev/null 2>&1 \
  && (INFO "'{{ .name }}' is already installed.") \
  || (INFO "Installing '{{ .name }}'..." && brew install --cask {{ .name }})
{{ end -}}
{{ end -}}


{{ end -}}
