#!/usr/bin/env zsh

# ------- 语法备注 -------
## depth: 设置 git clone 的 --depth
## atload: 在加载后执行的命令
## atclone: 在 clone 后执行的命令
## wait: 延迟加载
## lucid: 关闭延迟加载的加载完成提示

# https://github.com/z-shell/z-a-bin-gem-node
zi ice depth'1' atload'export PATH="$ZPFX/bin:$PATH"'
zi light z-shell/z-a-bin-gem-node
# https://github.com/z-shell/z-a-rust
# zi ice depth'1'
# zi light z-shell/z-a-rust
# https://wiki.zshell.dev/zh-Hans/ecosystem/annexes/meta-plugins#@zsh-users+fast
zi light-mode for z-shell/z-a-meta-plugins \
  @romkatv \
  @zsh-users
# https://github.com/z-shell/z-a-eval
zi ice depth'1'
zi light z-shell/z-a-eval

#
zi ice wait lucid depth'1' has'fzf'
zi light Aloxaf/fzf-tab

# https://github.com/sharkdp/bat
zi wait lucid depth'1' as'null' for \
  id-as'sharkdp/bat' \
  has'bat' \
  atload'
    alias cat="bat -P --plain"
    help() { 
      "$@" --help 2>&1 | bat -P --plain -l help
    }
  ' \
  @z-shell/0

# https://github.com/neovim/neovim
zi wait lucid depth'1' as'null' has'nvim' for \
  id-as'neovim/neovim' \
  atload'
    alias vi="nvim"
    alias vim="nvim"
    export EDITOR="nvim"
  ' \
  @z-shell/0

# https://github.com/eza-community/eza
zi wait lucid depth'1' as'null' for \
  id-as'eza-community/eza' \
  has'eza' \
  atload'
    alias ls="eza --icons -l -g -h --time-style long-iso"
  ' \
  @z-shell/0

# https://github.com/sharkdp/fd
zi wait lucid depth'1' as'null' for \
  id-as'sharkdp/fd' \
  has'fd' \
  atload'
    alias find="fd -HI"
  ' \
  @z-shell/0

# https://github.com/BurntSushi/ripgrep
zi wait lucid depth'1' as'null' for \
  id-as'BurntSushi/ripgrep' \
  has'rg' \
  atload'
    alias grep="rg --no-line-number"
  ' \
  @z-shell/0

# https://github.com/extrawurst/gitui
zi wait lucid depth'1' as'null' for \
  id-as'extrawurst/gitui' \
  has'gitui' \
  atload'
    alias g="gitui"
  ' \
  @z-shell/0

{{ if ne .chezmoi.os "windows" -}}
# https://github.com/atuinsh/atuin
zi wait lucid depth'1' as'null' for \
  id-as'atuinsh/atuin' \
  has'atuin' \
  eval"atuin init zsh" \
  @z-shell/0
# https://github.com/denisidoro/navi
zi wait lucid depth'1' as'null' for \
  id-as'denisidoro/navi' \
  has'navi' \
  eval"navi widget zsh" \
  atload'
    export NAVI_CONFIG="$XDG_CONFIG_HOME/navi/config.yaml"
    export NAVI_PATH="$XDG_CONFIG_HOME/navi/cheats"
  ' \
  @z-shell/0
{{ end -}}
