{{ if and (eq .chezmoi.os "linux") (ne .chezmoi.username "root") -}}
#!/usr/bin/env bash
set -euo pipefail
{{ template "shell_logger" . -}}

{{ if .packages.linux.homebrew.enabled -}}
{{ with .packages.linux.homebrew -}}
HINT "homebrew"
if ! [[ "$PATH" =~ "/home/linuxbrew/.linuxbrew/bin" ]]; then
  INFO "Adding 'homebrew' to PATH temporarily..."
  export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
fi
command -v {{ .cmd }} >/dev/null 2>&1 \
  && INFO "'homebrew' is already installed." \
  || (INFO "Installing 'homebrew'..." && {{ .install_script }})
{{ end -}}
{{ template "brew/shellenv" . -}}
{{ end -}}

{{ if .services.linux.docker.enabled -}}
HINT "[service] docker"
{{ range .services.linux.docker.osRelease -}}
{{ if eq .osReleaseId $.chezmoi.osRelease.id -}}
{{ .checker }}
if [ $? -eq 0 ]; then
  INFO "'docker' is already installed."
else
  INFO "Installing 'docker'..."
  {{ .installer }}
fi
{{ if .addUserToGroup -}}
groups | grep -q docker \
  && INFO "You are already in the 'docker' group." \
  || (INFO "Adding you to the 'docker' group..." && sudo usermod -aG docker {{ $.chezmoi.username }})
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}

# brews
## commands
{{ if .packages.linux.brews.commands -}}
HINT "[homebrew] commands"
{{ range .packages.linux.brews.commands -}}
command -v {{ .cmd }} >/dev/null 2>&1 \
  && INFO "'{{ .name }}' is already installed." \
  || (INFO "Installing '{{ .name }}'..." && brew install -v {{ .name }})
{{ end -}}
{{ end -}}


{{ end -}}
