{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
set -euo pipefail
{{ template "shell_logger" . -}}
groups | grep -q root || WARN "You are not in the root group, please run this script as root." && exit 1
echo "Please Input the username you want to add: "
read username
sudo useradd $username
sudo passwd $username
sudo echo "$username ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
{{ end -}}
